# Copyright @ 2021 VW Group. All rights reserved.
#
# This Source Code Form is subject to the terms of the Mozilla
# Public License, v. 2.0. If a copy of the MPL was not distributed
# with this file, You can obtain one at https://mozilla.org/MPL/2.0/.

* text=auto
* whitespace=space-before-tab,tab-in-indent,trailing-space

# Needed by conan to calculate the same recipe hash on every os
# Further information in the conan docs: https://tinyurl.com/y27nm4q4
conanfile*.py text eol=lf
version       text eol=lf
